/* Light */
:root {
  --Background: #fcfcfc;
  --Background-Light: #c5c5c57e;
  --Color: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
  /* Dark */
  :root {
    --Background: #1e1e1e;
    --Background-Light: #020202;
    --Color: #ededed;
  }
}

body {
  font-family: -apple-system;
  font-weight: 400;
  color: var(--Color);
  background-color: var(--Background);
}
p {
  max-width: 80ch;
}
iframe {
  border: 1px solid #ff9900;
  box-shadow: #ff9900 0 5px 10px 0;
  border-radius: 0.5rem;
}
img {
  width: 10vw;
  transition: linear 1000ms;
}
img:hover {
  width: 100vw;
}
.background-image {
  width: 600px;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  background: url("cursor.png") no-repeat center center; 
  background-size: contain;
  border: 1px solid;
}