/* Light */
:root {
  --Beam-Embed-Background: #fcfcfc;
  --Beam-Embed-Color: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
  /* Dark */
  :root {
    --Beam-Embed-Background: #1e1e1e;
    --Beam-Embed-Color: #ededed;
  }
}

html {
  color: var(--Beam-Embed-Color);
  background-color: var(--Beam-Embed-Background);
  font-family: sans-serif;
}

p {
  max-width: 80ch;
}
iframe {
  border: 1px solid #ff9900;
  box-shadow: #ff9900 0 5px 10px 0;
  border-radius: 0.5rem;
}
img {
  width: 10vw;
  transition: linear 1000ms;
}
img:hover {
  width: 100vw;
}
.background-image {
  width: 600px;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  background: url("cursor.png") no-repeat center center; 
  background-size: contain;
  border: 1px solid;
}